# Frontend server on localhost:3000
https://localhost:3000 {
  tls internal
  reverse_proxy localhost:3002
}

# Backend Strapi server on localhost:1337
https://localhost:1337 {
  tls internal
  reverse_proxy localhost:8000 {
    header_up X-Forwarded-Proto {scheme}
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
  }
}